<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group42.dao.IngredientMapper">

    <select id="selectIngredientsByPreference" resultType="com.group42.model.vo.IngredientVO">
        SELECT i.ingredient_id,
               ingredient_name,
               description,
               calories,
               fat,
               carbohydrate,
               protein,
               sodium
        FROM ingredient i
    </select>

    <select id="selectRecommendByPreference" resultType="com.group42.model.entity.Ingredient">
        select ingredient_id,
               type_id,
               ingredient_name,
               description,
               calories,
               fat,
               carbohydrate,
               protein,
               sodium
        from ingredient i3
                 inner join (select ANY_VALUE(i1.ingredient_id) as id
                             from ingredient i2
                                      join (select DISTINCT ingredient_id, type_id
                                            from ingredient
                                            where ingredient_id not in
                                                  (select ingredient_id
                                                   from eating_preference
                                                   where user_id = #{userId}
                                                     and is_like is false)
                                            order by rand()) i1
                                           on i1.type_id = i2.type_id
                             group by i2.type_id) tmp on i3.ingredient_id = tmp.id
    </select>
</mapper>
