<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group42.dao.IngredientMapper">

    <select id="selectRecommendByPreference" resultType="com.group42.model.entity.Ingredient">
        select i3.ingredient_id,
               i3.type_id,
               ingredient_name,
               description,
               calories,
               if(i3.fat is null, 0, i3.fat)                   as 'fat',
               if(i3.carbohydrate is null, 0, i3.carbohydrate) as 'carbohydrate',
               if(i3.sodium is null, 0, i3.sodium)             as 'sodium',
               if(i3.protein is null, 0, i3.protein)           as 'protein'
        from ingredient i3
                 inner join (select tmp.ingredient_id,
                                    tmp.type_id,
                                    rank() over (partition by tmp.type_id order by level desc ) as max_level
                             from (select i1.ingredient_id,
                                          type_id,
                                          (rand() * if(ep.is_like is null, 1, if(ep.is_like, 1.2, 0.8))) as level
                                   from ingredient i1
                                            left join (select ingredient_id,
                                                              is_like,
                                                              is_allergen
                                                       from eating_preference
                                                       where user_id = #{userId}) ep
                                                      on i1.ingredient_id = ep.ingredient_id
                                   where is_allergen is null
                                      or false) tmp) tmp2
                            on i3.ingredient_id = tmp2.ingredient_id
        where tmp2.max_level = 1
    </select>
</mapper>
