<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group42.dao.MealDetailMapper">

    <select id="selectMealBaseTypeByMealId" resultType="com.group42.model.bean.SuggestMealDetail">
        SELECT md.meal_id,
               i.ingredient_name as 'ingredientName',
               i.type_id,
               i.ingredient_id,
               i.calories        as 'ingredientCalories',
               md.calories       as 'targetCaloriesMax',
               md.weight         as 'targetCaloriesMin'
        FROM meal_detail md
                 left join ingredient i on md.ingredient_id = i.ingredient_id
        WHERE meal_id = #{mealId}
    </select>
    <select id="selectMealDetail" resultType="com.group42.model.bean.SuggestMealDetail">
        select i1.ingredient_name    as 'ingredientName',
               i1.ingredient_id,
               i1.type_id,
               i1.calories           as 'ingredientCalories',
               tmp.targetCaloriesMax as 'targetCaloriesMax',
               tmp.targetCaloriesMin as 'targetCaloriesMin'
        from ingredient i1
                 join (select i.type_id, md.calories as 'targetCaloriesMax', md.weight as 'targetCaloriesMin'
                       from ingredient i
                                right join meal_detail md on i.ingredient_id = md.ingredient_id
                       where md.meal_id = #{mealId}
                         and md.ingredient_id = #{ingredientId}) tmp
                      on i1.type_id = tmp.type_id
    </select>
</mapper>
