<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group42.dao.MealMapper">

    <select id="findTodayMealByUserUid" resultType="com.group42.model.entity.Meal">
        select meal_id,
               user_id,
               user_uid,
               meal_type,
               meal_date,
               total_weight,
               total_calories
        from meal
        where user_uid = #{userUid}
          and meal_type = #{mealType}
          and datediff(now(), updated_at) = 0
    </select>
</mapper>
